{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--link to CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'resource_management/base.css' %}">
        {% block css %}
        <!--block for adding css files after extending page -->
        {% endblock %}

        <title>STIMulating </title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-secondary d-flex d-sm-none w-100 flex-column">
            <!-- Start of navbar for very small viewports -->
            <a class="nav-link text-success text-center w-100" href="{% url 'search_home' %}">Welcome</a>
            <form class="form-inline w-50">
                <input class="form-control align-middle mr-auto ml-auto text-success mb-2 text-center" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success align-middle mr-auto ml-auto text-success mt-2" type="submit">Search</button>
            </form>
            <a class="nav-link text-success w-100 text-center" href="{% url 'search_about' %}">About</a>
        </nav>
        <!-- end of navbar-->
        <!-- start of navar for small viewports-->
        <nav class="navbar navbar-light bg-secondary d-none d-sm-flex d-md-none w-100">
            <a class="nav-link text-success text-center w-25" href="{% url 'search_home' %}">Welcome</a>
            <form class="form-inline w-50">
                <input class="form-control align-middle mr-auto ml-auto text-success text-center" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success align-middle mr-auto ml-auto text-success " type="submit">Search</button>
            </form>
            <a class="nav-link text-success w-25 text-center" href="{% url 'search_about' %}">About</a>
        </nav>
        <!-- end of narbar-->
        <!--- start of navbar for medium viewports-->
        <nav class="navbar navbar-light bg-secondary d-none d-md-flex-inline d-lg-none w-100 ">
            <a class="nav-link text-success w-25 text-center" href="{% url 'search_home' %}">Welcome</a>
            <form class="form-inline w-50">
                <input class="form-control mr-auto ml-auto text-success align-middle text-center" type="search" placeholder="What do you need help with?" aria-label="Search">
                <button class="btn btn-outline-success mr-auto ml-auto text-success align-middle" type="submit">Search</button>
            </form>
            <a class="nav-link text-success w-25 text-center" href="{% url 'search_about' %}">About</a>
        </nav>
        <!-- end of navbar -->
        <!-- start of navbar for large viewports-->
        <nav class="navbar navbar-light bg-secondary d-none d-sm-none d-md-none d-lg-inline-flex d-xl-inline-flex w-100 ">
            <a class="nav-link text-success w-25 text-center" href="{% url 'search_home' %}">Welcome</a>
            <form class="form-inline w-50">
                <div style="width:80%; padding: 2%;">
                <input class="form-control mr-2 ml-2 text-success align-middle text-center w-100" type="search" placeholder="What do you need help with?" aria-label="Search">
                </div>
                <div style="width:20%; padding: 2%;">
                <button class="btn btn-outline-success mr-auto ml-auto text-success align-middle w-100" type="submit">Search</button>
                </div>
            </form>
            <a class="nav-link text-success w-25 text-center" href="{% url 'search_about' %}">About</a>
        </nav>
        <!-- end of navbar-->

        {% block content %}
        <!--content on the page to be replace by other templates using this page-->
        {% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>